<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "PlanningPoker"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-gray-900 flex flex-col min-h-screen">
    {@inner_content}

    <footer class="m-2 mt-auto">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          Built using Elixir/Phoenix by <a href="https://hellosmithy.com/" class="underline">hellosmithy</a>. Inspired by <a
            href="https://hatjitsu.toolforge.org/"
            class="underline"
          >hatjitsu</a>.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
            <a href="https://bsky.app/profile/hellosmithy.bsky.social" class="underline">
              Feedback?
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
